<div *ngIf="fullArticle" class="details_page">

  <header class="header">
    <img src="{{fullArticle.imageUrl}}">
  </header>

  <div class="main">
    <div class="main_header">
      {{fullArticle.title}}
    </div>

    <div class="main_content">
      <p>{{fullArticle.summary}}</p>
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
<!--      <p>{{fullArticle.summary}}</p>-->
    </div>
  </div>

  <footer class="footer">
    <div (click)="backToHomePage()">
      <i class="material-icons">arrow_back</i>
      Back to homepage
    </div>
  </footer>

</div>
